*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei',"微软雅黑",arial,"宋体",sans-serif;
}
header{
    width: 100%;
    height: 60px;
    position:fixed;
    z-index: 2;
    background-color: #ffffff;
}
h3{
    margin-left: 30px;
    line-height: 60px;
    float: left;
}
nav{
    margin-right: 30px;
    float: right;
}
nav ul li{
    float: left;
    margin-left: 30px;
    list-style:none;
    line-height: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    display: block;
}
nav ul li a:hover{
    text-decoration: none;
    color: #666666;
    font-size: 16px;
}
.submenu{
    position: absolute;
    top: 60px;
    width: 100%;
    float: right;
    display: none;
    background-color: #ffffff;
    z-index: 2;
}
.submenu ul li{
    float: right;
    list-style:none;
    line-height: 45px;
    margin-right: 30px;
}
.submenu ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}
.submenu ul li i{
    color: #999999;
    font-size: 14px;
    margin-left: 30px;
}
.submenu ul li a:hover{
    text-decoration: underline;
    font-size: 14px;
}
.mid_content{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 90px;
}
.mid{
    display: flex;
    width: 1360px;
    margin: 0 auto;
    flex-direction: row;    
    justify-content: space-between;
}
.works{
    width: 295px;
    height: 500px;
    background-color: #ffffff; 
    overflow:hidden; 
}
.works a{
    width: 295px;
    height: 295px;
    display:block;
    overflow:hidden; 
}
.works a img{
    height: 295px;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear; 
}
.works a img:hover{
    -ms-transform:scale(1.4);
    -webkit-transform:scale(1.4);
    transform:scale(1.2);
}
.works strong{
    color: #333333;
    font-size: 14px;
    padding: 20px 0px 15px 0px;
    float: left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: block;
    width: 100%;
}
.works p{
    width: 295px;
    color: #999999;
    font-size: 12px;
    float: left;
    padding-left: 0px;
    line-height: 18px;
}
footer{
    width: 100%;
    background-color: #f8f8f8;
    float: left;
    padding-top: 40px;
    padding-bottom: 30px;
}
footer p{
    color: #333;
    font-size: 12px;
    margin: 0px auto;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    line-height: 20px;
}
.footer_fm ul li{
    float: left;   
    list-style:none;
    line-height: 40px;
}
.footer_fm ul li a{
    text-decoration: none;
    color: #333333;
    display: block;
    padding: 0 15px;
}
.footer_fm{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    display: block;
    text-align: center; 
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work_mid_content{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 90px;
}
.work_mid{
    width: 1120px;
    margin: 0 auto;
}
.work_mid img{
    width: 1120px;
    margin-bottom: 30px;
}
.work_title{
    width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.work_title a{
    color:#333;
}
.work_title a:hover{
    color:#666;
}
.work_tb{
    font-size: 16px;
    color: #333;
    line-height: 32px;
}
.work_tb th{  
    text-align: left;
}
.work_tb td{  
    width: 240px;
    text-align: left;
}